<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <br>
    <a href="{% url 'logout' %}">Logout</a>
    <br>
    <title>Лабораторные работы</title>
    <script>
        // Функция для создания лабораторной работы
        function createLab() {
            fetch('/labs/add/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                },
            })
                .then(response => {
                    if (response.status !== 200) {
                        return response.json().then(errorData => {
                            throw new Error(errorData.message || 'Ошибка при создании лабораторной работы');
                        });
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    alert(`Лабораторная работа создана: ID = ${data.lab_id}`);
                    window.location.reload();
                })
                .catch(error => {
                    console.error(error);
                    alert('Ошибка создания лабы: ' + error.message);
                });
        }

        // Функция для удаления лабораторной работы
        function deleteLab(labId, labName) {
            if (!confirm('Вы уверены, что хотите удалить лабораторную работу?')) {
                return;
            }

            fetch(`/labs/${labId}/delete`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                },
            })
                .then(response => {
                    if (response.status !== 200) {
                        return response.json().then(errorData => {
                            throw new Error(errorData.message || 'Ошибка при удалении лабораторной работы');
                        });
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    alert(`Лабораторная работа ${labName} удалена`);
                    window.location.reload();
                })
                .catch(error => {
                    console.error(error);
                    alert('Ошибка удаления лабы: ' + error.message);
                });
        }

        // Функция для получения CSRF токена
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</head>
<body>
<h1>Список лабораторных работ</h1>
<ul>
    {% for lab in active_labs %}
        <li>
            <a href="{% url 'lab_info' lab.id %}">Лабораторная
                работа {{ lab.name }} - {{ lab.status }}</a>
            <button onclick="deleteLab({{ lab.id }}, '{{ lab.name }}')">
                Удалить
            </button>
        </li>
    {% endfor %}

</ul>
<button onclick="createLab()">Запустить</button>
<br>

<h1>История выполнения работ</h1>
<ul>
    {% for lab in removed_labs %}
        <li>
            <a href="{% url 'lab_info' lab.id %}">Лабораторная
                работа {{ lab.name }} - {{ lab.status }}</a>
        </li>
    {% endfor %}
</ul>


</body>
</html>
