<!DOCTYPE html>
<html lang="en">
{% csrf_token %}
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Лабораторные работы{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
          rel="stylesheet"
          type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png"
          href="{% static 'favicon.ico' %}"/>

    <style>
        .toast {
            width: 350px;
            position: relative;
            max-width: 300px;
            min-height: 60px;
            opacity: 0.95;
            transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            font-size: 0.875rem;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: center;
            padding: 10px;

            /* Эти три свойства для переноса текста */
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;

            /* Эти свойства предотвращают выход текста за пределы блока */
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .toast.info {
            background-color: rgba(190, 241, 255, 0.9); /* light blue */
            color: #00132a;
        }

        .toast.warning {
            background-color: rgba(255, 255, 176, 0.9); /* light yellow */
            color: #251b00;
        }

        .toast.error {
            background-color: rgba(253, 155, 155, 0.9); /* light red */
            color: #280006;
        }

        .toast.fade-out {
            opacity: 0;
            transform: translateX(100%);
        }

        /* Расположение контейнера уведомлений справа */
        #notification-container {
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 1055;
            max-width: 320px;
        }
    </style>


</head>

<script>
    function Notification(type, message) {
        const container = document.getElementById('notification-container');

        const toast = document.createElement('div');
        toast.className = `toast text-bg-${type} border-0 ${type}`;
        toast.setAttribute('role', 'alert');
        toast.setAttribute('aria-live', 'assertive');
        toast.setAttribute('aria-atomic', 'true');

        toast.innerHTML = `
        <div class="toast-body">
            ${message}
             </div>
    `;

        container.appendChild(toast);

        setTimeout(() => {
            removeToast(toast);
        }, 5000);

        function removeToast(toast) {
            toast.classList.add('fade-out');
            setTimeout(() => toast.remove(), 500);
        }
    }



</script>


<body id="page-top">


<!-- Page Wrapper -->
<div id="wrapper">
    <div id="notification-container" class="position-fixed top-0 end-0 p-3"
         style="z-index: 1055;">
        <!-- Уведомления будут добавляться сюда -->
    </div>

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center"
           href="{% url 'labs' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-syringe"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Лабораторная</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'labs' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Мои лабораторные</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            информация
        </div>


        <!-- Nav Item - Tables -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'help' %}">
                <i class="fas fa-fw fa-info-circle"></i>
                <span>Помощь</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        {% if user.is_superuser %}
            <!-- Heading -->
            <div class="sidebar-heading">
                Админ
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                   data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-hammer"></i>
                    <span>Управление</span>
                </a>
                <div id="collapsePages" class="collapse"
                     aria-labelledby="headingPages"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'admin_users' %}">Студенты</a>
                        <a class="collapse-item" href="{% url 'admin_labs' %}">Лабораторные</a>
                        <a class="collapse-item"
                           href="{% url 'admin_custom_lab_show' %}">Создать
                            работу</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Другое:</h6>
                        <a class="collapse-item" target="_blank" href="/admin/">Django
                            Admin</a>
                        <a class="collapse-item" target="_blank" href="/monitoring">Grafana мониторинг</a>
                        <a class="collapse-item" href="{% url 'admin_help' %}">Помощь</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        {% endif %}


    </ul>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop"
                        class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control bg-light border-0 small"
                                           placeholder="Search for..."
                                           aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary"
                                                type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                            <img class="img-profile rounded-circle"
                                 src="{% static 'img/undraw_profile.svg' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item"
                               href="{% url 'my_account' %}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Профиль
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Выход
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
            {% block content %}{% endblock %}


            <!-- End of Content Wrapper -->


            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Bootstrap core JavaScript-->
            <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

            <!-- Core plugin JavaScript-->
            <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

            <!-- Custom scripts for all pages-->
            <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

            <!-- Page level plugins -->
            <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

            <!-- Page level custom scripts -->
            <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
            <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>