<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Лабораторные работы{% endblock %}</title>

    <!-- Custom fonts and styles -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
          rel="stylesheet" type="text/css">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png"
          href="{% static 'favicon.ico' %}"/>
    <style>
        .toast-container {
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 1055;
        }

        .text-bg-warning {
            background-color: #ffd580 !important;
            color: #333333 !important;
        }
    </style>
</head>

<body class="bg-gradient-primary">
<div class="toast-container">
    {% if messages %}
        {% for message in messages %}
            <div class="toast align-items-center text-bg-warning border-0"
                 role="alert" aria-live="assertive" aria-atomic="true">

                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}


    {% if form.password2.errors %}
        <div class="text-danger">
            {% for error in form.password2.errors %}
                <div class="toast align-items-center text-bg-warning border-0"
                     role="alert" aria-live="assertive" aria-atomic="true">

                    <div class="d-flex">
                        <div class="toast-body">
                            {{ error }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if form.email.errors %}
        <div class="text-danger">
            {% for error in form.email.errors %}
                <div class="toast align-items-center text-bg-warning border-0"
                     role="alert" aria-live="assertive" aria-atomic="true">

                    <div class="d-flex">
                        <div class="toast-body">
                            {{ error }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<main class="container mt-5">
    {% block content %}{% endblock %}
</main>

<footer class="text-center mt-5">
    <div class="text-white">
        <p>&copy; 2024. СПбПУ, Высшая школа кибербезопасности.<br>Разработано в
            помощь преподавателям.</p>
    </div>
</footer>

<!-- Scripts -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        var toastList = toastElList.map(function (toastEl) {
            var toast = new bootstrap.Toast(toastEl, {
                autohide: true,
                delay: 5000
            });
            toast.show();
            return toast;
        });
    });
</script>
</body>
</html>
