{% extends 'base/base.html' %}
{% load static %}
{% block title %}Создание лабораторной{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-900">Создание лабораторной</h1>
        <p class="mb-4 text-gray-800">Через данную форму администратор может
            создать лабораторную работу с любым вариантом. После создания она
            отобразится на главной странице</p>
    </div>

    </div>
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>&copy; 2024. СПбПУ, Высшая школа кибербезопасности.<br>Разработано в помощь преподавателям.</span>
            </div>
        </div>
    </footer>
    </div>


    <!-- End of Footer -->
    <!-- End of Page Wrapper -->
    </div>


{% endblock %}