{% extends 'base/base.html' %}
{% load static %}
{% block title %}Помощь{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Руководство пользователя</h1>
            </div>
        </div>
        <hr>
    <div class="text-black-50 small">Система разработана на базе Django, Docker и Ansible</div>
    </div>

    </div>
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>&copy; 2024. СПбПУ, Высшая школа кибербезопасности.<br>Разработано в помощь преподавателям.</span>
            </div>
        </div>
    </footer>
    </div>


    <!-- End of Footer -->
    <!-- End of Page Wrapper -->
    </div>


{% endblock %}